@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  color: #00B4CC;
}
.submbtn{
  width: 12% 5px;
  margin: 10px;
  height: 12%;
  border: 1px solid black;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-size: 20px;
}
#rating{
  border: 1px solid black;
  background: #fff;
  color: #00B4CC;
}
textarea{
  color: #00B4CC;
  vertical-align: bottom;
  resize: none;
  outline: none;
  margin: 10px;
}